#logo {
    margin: 0px;
    padding: 0px;
    align-items: flex-start;
}





ul li {
    float: left;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 40px;
    font-size: 20px;
    box-sizing: border-box;

}
.Nav {
    background-color: #c62b427b;
  

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;

}
*{
    margin: 0%;
    padding: 0%;

}


header {
    background-image: url("Assests/Porträt_hintergrund.jpg");
    background-position-x: 70%;
    background-position-y: 65%;
    height: 400px
    
}

main {
    background-color: rgb(68, 65, 65);
    color: white;
}

.bilder{
    z-index: 10px; 
    max-height: 300px;
    float: none;
}


footer {
    background-color: #eaeaea;
}