h1 {
    color:#c62b42;
    font-family: 'Times New Roman', Times, serif ;
    font-size: 100px;
    margin: 0cm;
    padding: 0%;
    text-align: center;
    text-shadow: 2px 2px 12px rgba(253, 0, 0, 0.368);
    
}

h2 {
    color: #c62b42;
    font-family: fantasy;
    text-align: center;
    text-shadow: 1px 1px 5px black;

}

ul li {
    float: left;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
    margin: 10px;
    padding: 40px;
    font-size: 20px;
    box-sizing: border-box;

}
.Nav {
    background-color: #c62b427b;
  

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;

}



header {
    background-image: url("Assests/Porträt_hintergrund.jpg");
    background-position-x: 70%;
    background-position-y: 65%;
    height: 300px
    

    
}