html, body {
    height: 100%;
    margin: 0;
}

header {
    background-image: url("Assets/Bild.jpg");
    height: 400px;
    background-position-x: 70%;
    background-position-y: 45%;
}

header, main, footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

header section, main section, footer section {
    width: 800px;
}

header section {
    display: flex;
    justify-content: space-between;
}

ul li {
    float: left;
    list-style-type: none;
}

.Nav {
    background-image: linear-gradient(#c62b42, rgb(0, 0, 0));
    font-size: 30px;
    color: grey;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.Nav:hover {
    color: white;
    text-decoration: underline;
}

footer section {
    display: grid;
    grid-template-columns: auto auto auto;
}
#footer {
    color: rgb(0, 0, 0);
    background-color: #eaeaea;
    padding: 0px;
}

footer section div p {
    line-height: 0.5;
    font-size: 14px;
}

main {
    background-color: rgb(141, 140, 140);
}

#steckbrief_bild {
   float: right;
   position: relative;
   bottom: 65px;
   border: none;

}


h3 {
    color: #c62b42;
    text-shadow: 1px 1px 1px #eaeaea;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    color: #c62b42;
    text-shadow: 1px 1px 1px #eaeaea;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: #000000;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    display:grid;
    grid-template-columns: auto auto;
}

.bilder img {
    width: 300px;
  
    
}

.videos video {
    width: 560px;
}

.pictures p {
    font-size: 20px;
}

.videos p {
    font-size: 20px;

}

.email {
    color: #c62b42;
    text-shadow: 1px 1px 3px #eaeaea;
}

.kontakt p {
    line-height: 0.4;
    font-size: 16px;
}