html,
body {
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#format {
    width: 375px;
    height: 667px;
    background-color: grey;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.width90 {
    width: 90%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.div {
    width: 100%;
    justify-content: center;
}

.top {
    align-self: flex-start;
    width: 100%;
}

.bot {
    align-self: flex-end;
    justify-self: center;
    width: 100%;

}

footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer p {
    text-align: center;
}

.left {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#punktestand {
    margin: 0;
}

h1 {
    text-align: center;
}