html,
body {
    height: 100%;
}

body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

#format {
    width: 375px;
    height: 667px;
    background-color: grey;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;

}

main {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.center div {
    align-self: flex-start;
}


footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer p {
    text-align: center;
}



h1 {
    text-align: center;
}