body {
    background-color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

#keyboard {
    background-color: #808080;
    width: 700px;
    height: 450px;
    display: flex;
}

.wtaste {
    width: 100px;
    border-width: 2px;
    border-color: black;
    border-style: double;
    border-radius: 10px;
    color: white;
    background-color: white;
}
